h1 {
  text-align: center;
  color:white;
}

h3 {
  text-align: center;
  color:white;
}

body {
  background-color: black;
}

#tabbed .tab-content{
  color:white;
  background-color: black;
  padding : 5px 15px;
  min-height: 800px;
}

#airportBar{
  padding-left: 0;
  padding-right:0;
}

#airportBar > p{
  text-align:right;
}

.svg-container{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: bottom;
  overflow: hidden;
}

.svg-container-bar{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 0%; /* aspect ratio */
  vertical-align: bottom;
  overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Style for Custom Tooltip */
div.tooltip {
 	position: absolute;
	text-align: center;
	min-width: 80px;
  max-width: 120px;
  min-height: 28;
	max-height: 80px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.years_buttons {
        top: 120px;
        left: 20px;
}

div.years_buttons div {
        background-color: black;
        padding: 3px;
        margin: 7px;
        font-weight:bold;
        border-radius:4px;
        cursor:pointer;
}

#buttonColumn{
  height:500px;
}

.axis path .axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text{
  fill: white;
  font-family: sans-serif;
  font-size: 11px;
}

.legend > rect {
  fill:white;
  stroke:black;
  opacity: 1;;
}

#devResponse{
  color: red;
}
